@use "../../styles/fonts" as *;
@use "../../styles/colors" as colors;
@use "../../styles/breakpoints" as *;
@use "../../styles/mixins/container-query" as *;
@use "../../styles/mixins/responsive-max-width" as *;

.ft-blocks-faq {
	$space-xl: clamp(30px, 2.982cqw + 20px, 60px);
	$space-m: clamp(20px, 0.994cqw + 16px, 30px);
	$space-s: clamp(10px, 0.994cqw + 6px, 20px);
	padding-top: $space-xl;
	padding-bottom: $space-xl;

	&__container {
		display: grid;
		gap: $space-xl;
		align-items: start;

		@include responsive(ft-main, $bp-lg) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__heading {
		margin-top: 0;
		margin-bottom: $space-s;
	}

	&__description {

		@include responsive-max-width(75ch);
		margin-top: 0;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.7;
		font-family: $Belleza;
		margin-bottom: $space-m;

		@include responsive(ft-main, $bp-md) {
			font-size: 16px;
		}

		@include responsive(ft-main, $bp-lg) {
			font-size: 18px;
		}
	}

	&__button {
		margin: 0;
	}

	&__item {
		position: relative;

		&:not(:first-child) {
			border-top: 1px solid colors.$border-color;
		}

		&-toggle {
			text-align: left;
			background-color: transparent;
			outline: none;
			width: 100%;
			border: none;
			margin: 0;
			display: flex;
			align-items: center;
			gap: 16px;
			justify-content: space-between;
			padding: $space-s 0;
		}

		&-question {
			margin: 0;
			color: #000;
		}

		&-icon {
			position: relative;
			display: block;
			width: 10px;
			height: 10px;
			border-top: 2px solid #222;
			border-left: 2px solid #222;
			transform: rotate(135deg);
			transition: transform 0.2s ease-in-out;
		}

		&-content {
			overflow: hidden;
			will-change: opacity, max-height;
			opacity: 0;
			max-height: 0;
			transition: opacity 0.3s ease, max-height 0.3s ease;
		}

		&-answer {
			margin: 0;
			padding-bottom: $space-s;
		}

		&.is-active {

			.ft-blocks-faq__item-icon {
				transform: rotate(225deg);
			}

			.ft-blocks-faq__item-content {
				opacity: 1;
				max-height: 200px;
			}
		}
	}
}
