.ft-blocks-service-info {

	.ft-blocks-service-info__image {

		&:has(.ft-image-uploader__image-button) {

			.ft-image-uploader,
			.ft-image-uploader__frame,
			.ft-image-uploader__image-button {
				height: 100%;
			}
		}
	}

	&__buttons {

		.ft-button.ft-admin-button {
			justify-self: start;
		}
	}

	&__button-admin-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 6px;

		.ft-remove-button-cross {
			position: static;
		}
	}
}
