@use "../styles/fonts" as *;
@use "../styles/breakpoints" as *;
@use "../styles/mixins/container-query" as *;
@use "../styles/mixins/ft-cqw" as *;

.ft-heading {

	&__h2 {

		@include ft-cqw(font-size, 6);
		font-family: $MontserratAlternates;
		line-height: 1;
		font-weight: 500;

		@include responsive(ft-main, $bp-md) {
			font-size: 32px;
		}

		@include responsive(ft-main, $bp-lg) {
			font-size: 44px;
		}

		&.ft-centered {
			text-align: center;
		}

		em {

			@include ft-cqw(font-size, 8.5);

			@include responsive(ft-main, $bp-md) {
				font-size: 44px;
			}

			@include responsive(ft-main, $bp-lg) {
				font-size: 60px;
			}
		}
	}

	&__h3 {
		font-weight: 600;
		font-family: $MontserratAlternates;
		font-size: 20px;
		line-height: 1.4;

		@include responsive(ft-main, $bp-md) {
			font-size: 24px;
		}

		em {

			@include ft-cqw(font-size, 7);

			@include responsive(ft-main, $bp-md) {
				font-size: 44px;
			}
		}
	}

	&__h2,
	&__h3 {

		em {
			font-weight: 500;
			font-style: normal;
			font-family: $Allura;
			line-height: 0.9;
		}
	}
}
