@use "../styles/breakpoints" as *;
@use '../styles/mixins/container-query' as *;
@use '../styles/fonts' as *;
@use '../styles/buttons' as *;

.is-root-container,
.is-root-container * {
	box-sizing: border-box;
}

body:not(.wp-admin),
.is-root-container {
	container-type: inline-size;
	container-name: ft-main;
	position: relative;
	max-width: 100%;
	font-family: $OpenSans;
}

.ft-blocks {

	&__wrapper {
		padding-left: 16px;
		padding-right: 16px;

		@include responsive(ft-main, $bp-md) {
			padding: 20px;
		}
	}

	&__container {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}
}
