@use "../../styles/breakpoints" as *;
@use "../../styles/mixins/container-query" as *;

.ft-blocks-hero {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}
