@use "../../styles/breakpoints" as *;
@use "../../styles/mixins/container-query" as *;

.ft-blocks-hero {
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(90deg, rgba(34, 23, 8, 0.75), rgba(34, 23, 8, 0.1));
		z-index: 20;
	}

	.ft-blocks-hero__heading,
	.ft-blocks-hero__decor-text,
	.ft-blocks-hero__text,
	.ft-blocks-hero__button {
		opacity: unset;
		transform: unset;
		animation: unset;
	}
}
