@use "../../styles/fonts" as fonts;
@use "../../styles/colors" as colors;
@use "../../styles/breakpoints" as *;
@use "../../styles/mixins/container-query" as *;

.ft-blocks-price-list {
	$space-xl: clamp(30px, 2.982vw + 20px, 60px);
	padding-top: $space-xl;
	padding-bottom: $space-xl;
	background-color: colors.$bezova-svetla;

	&__grid,
	&__header {
		margin-bottom: clamp(30px, 2.982vw + 10px, 40px);
	}

	&__heading {
		margin: 0;
		padding-bottom: 20px;
		position: relative;

		&::before {
			background-color: colors.$terakotova;
			content: "";
			position: absolute;
			top: auto;
			display: block;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 50%;
			height: 1px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
		gap: 20px;

		@include responsive(ft-main, $bp-container) {
			gap: clamp(30px, 0.994vw + 26px, 40px);
		}
	}

	&__item {
		transition: all 0.2s ease-in-out;
		max-width: 450px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.175);

		&-header {
			$padding: 14px;
			position: relative;
			padding: $padding;

			&-helper {
				position: relative;
				z-index: 10;
				opacity: 0;
				visibility: hidden;
			}

			&-inner {
				position: absolute;
				z-index: 20;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				padding: $padding;
			}
		}

		&-image {
			overflow: hidden;
			margin: 0;
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				transition: all 0.2s ease-in-out;
				object-fit: cover;
				object-position: center;
				width: 100%;
				height: 100%;
			}
		}

		&:hover {
			box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.275);
			transform: translateY(-5px);

			img {
				transform: scale(1.1);
			}
		}

		&-content {
			position: relative;
			z-index: 20;
			display: flex;
			align-items: flex-end;
			padding-bottom: 20px;
			width: 100%;
			color: #fff;
			height: 75vw;

			@include responsive(ft-main, $bp-sm) {
				height: 30vw;
			}

			@include responsive(ft-main, $bp-lg) {
				height: 25vw;
			}

			@include responsive(ft-main, $bp-container) {
				height: 320px;
			}
		}

		&-annotation,
		&-title {
			margin: 0;
			text-align: center;
		}

		&-price {
			font-weight: 500;
			width: 100%;
			position: relative;
			z-index: 20;
			margin: 0;
			text-align: center;
			line-height: 0.9;
			font-size: 30px;
			font-family: fonts.$Allura;
			padding: clamp(10px, 0.994vw + 6px, 20px) 14px;
			background-color: rgba(199, 168, 119, 0.75);

			@include responsive(ft-main, $bp-container) {
				padding: clamp(10px, 0.994vw + 6px, 20px);
			}
		}

		&-short-text {
			margin: 0;
			text-align: left;
			padding: 16px;
		}
	}

	&__button {
		margin: 0 auto;

		&.ft-button.ft-button-secondary {
			border: none;
		}
	}
}
