@use "../../styles/fonts" as *;
@use "../../styles/colors" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/mixins/container-query" as *;
@use "../../styles/mixins/ft-clamp" as *;
@use "../../styles/mixins/ft-cqw" as *;
@use "../../styles/mixins/responsive-max-width" as *;

.ft-blocks-photo-shoot-types {
	padding-top: calc(2 * clamp(30px, 2.982vw + 10px, 40px));

	@include ft-clamp(padding-bottom, 30px, 2.982vw, 60px);
	$border: 1px solid $terakotova;

	@include responsive(ft-main, $bp-lg) {
		padding-top: calc(2 * clamp(30px, 2.982vw + 20px, 60px));
	}

	&__container {
		max-width: 1000px;
		margin: 0 auto;
	}

	&__header {
		margin-bottom: clamp(30px, 2.982vw + 10px, 40px);

		@include responsive(ft-main, $bp-lg) {
			margin-bottom: clamp(30px, 2.982vw + 20px, 60px);
		}
	}

	&__heading {
		margin-top: 0;
		margin-bottom: clamp(10px, 0.994vw + 6px, 20px);
	}

	&__description {

		@include responsive-max-width(75ch);
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.7;
		font-family: $Belleza;
		margin: 0 auto;
		text-align: center;

		@include responsive(ft-main, $bp-md) {
			font-size: 16px;
		}

		@include responsive(ft-main, $bp-lg) {
			font-size: 18px;
		}
	}

	&__tabs-nav {
		width: 100%;
		display: grid;
		gap: 0;
		text-align: center;
		border-top: $border;
		border-left: $border;
		border-right: $border;

		@include responsive(ft-main, $bp-md) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__tab-button {
		margin: 0;
		transition: all 0.2s ease-in-out;
		background-color: $bezova;
		color: $terakotova;
		border-radius: 0;
		border: none;
		outline: none;
		cursor: pointer;
		font-family: $Belleza;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0.6em 1.1em;

		@include responsive(ft-main, $bp-md) {
			font-size: 16px;
		}

		&:not(:last-child) {
			border-bottom: $border;

			@include responsive(ft-main, $bp-md) {
				border-bottom: 0;
				border-right: $border;
			}
		}

		&:hover,
		&:focus {
			background-color: $bezova-svetla;
		}

		&.is-active {
			background-color: $terakotova;
			color: $bezova;
		}
	}

	&__tabs-content {
		position: relative;
		width: 100%;
		color: #fff;

		@include ft-clamp(height, 250px, 125vw, 400px);

		@include responsive(ft-main, $bp-md) {
			height: 600px;
		}
	}

	&__tab-panel {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.3);
		opacity: 0;
		transition: opacity 0.45s ease-in-out;

		&.is-active {
			opacity: 1;
		}
	}

	&__tab-image {
		margin: 0;
		position: relative;
		width: 100%;
		height: inherit;
		z-index: 10;

		&::before {
			background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
			z-index: 20;
		}

		img {
			position: relative;
			z-index: 10;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			min-height: inherit;
		}
	}

	&__tab-info {
		position: absolute;
		padding: 12px;
		z-index: 20;
		top: auto;
		left: 0;
		bottom: 0;

		@include responsive(ft-main, $bp-md) {
			padding: clamp(20px, 0.994vw + 16px, 30px);
		}
	}

	&__tab-title {
		margin-top: 0;
		margin-bottom: 12px;
		color: #fff;
		font-family: $MontserratAlternates;
		font-weight: 500;
		line-height: 1;

		@include ft-cqw(font-size, 6);

		@include responsive(ft-main, $bp-md) {
			margin-bottom: 16px;
			font-size: 32px;
		}

		@include responsive(ft-main, $bp-md) {
			font-size: 34px;
		}

		@include responsive(ft-main, $bp-lg) {
			font-size: 50px;
		}
	}

	&__tab-text {
		margin-top: 0;
		margin-bottom: 12px;
		color: #fff;
		font-size: 14px;

		@include responsive-max-width(45ch);

		@include responsive(ft-main, $bp-md) {
			font-size: 16px;
			margin-bottom: 16px;
		}
	}
}
